In [1]:
import string, re
import pandas as pd
from scipy import sparse
from pandas import DataFrame as df
import pandas_profiling

In [2]:
#load the dataset into memory, store the original data
data = pd.read_csv('./retail_data.csv', encoding = "ISO-8859-1")
data['CustomerID'] = data['CustomerID']
data.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

In [3]:
#create copy
retail = data.copy()
retail.shape

(541909, 8)

(541909, 8)

In [4]:
#preprocessing data (delete missing values)
#delete row for negative value on quantity and unit price (different 2)
retail = retail.loc[~(retail['Quantity'] < 0)]
retail = retail.loc[~(retail['UnitPrice'] < 0)]

#delete null/na customer id #398824
retail = retail.dropna(subset=['CustomerID', 'Quantity', 'UnitPrice','StockCode'])

#delete rows that are all NA
retail = retail.dropna(how='all')

#convert customer id (from float) into integer
retail['CustomerID'] = data['CustomerID'].fillna(0.0).astype(int)

In [5]:
#create dictionary/ table to search an item name by stock code, clean some description

##cleaning process
def clean_text(text):
    
    #put space between alphanumeric (OF4 -> OF 4)
    text = re.sub(r'([A-Z]+)(\d+)', r'\1 \2', text)
    #put space between alphanumeric 18PC
    text = re.sub(r'(\d+)([A-Z]+)', r'\1 \2', text)
    #break down no spaces string (NECK.36"GREEN)
    text = re.sub(r'([A-Z]+)(\.)(\d+)(\")', r'\1\2 \3\4 ', text)
    #format the set/10 or set 10 or into set of 10
    text = re.sub(r'([SET])[\/|\s]?(\d+)', r'\1 OF \2', text)
    #replace + into AND
    text = text.replace('+','AND')
    
    # remove certain punctuation and replace with space
    punctuation = set(string.punctuation)
    selected_punctuation = [',','!','.']
    punctuation = punctuation.intersection(selected_punctuation)
    for element in punctuation:
        text = text.replace(element, ' ')
        
    #replace many spaces into one space
    text = re.sub('\s{2,}', ' ', text)

    return text

# create new column for cleaned description and make all description in upper case
retail['Clean_Description'] = retail['Description'].apply(clean_text).str.upper()

#stock code is string
retail_dictionary = dict(zip(retail['StockCode'], retail['Clean_Description']))

In [6]:
#create sparse matrix customer and stock code

#contain total amount of product
customer_pivot = retail.pivot_table(index=['CustomerID'], values=['Quantity'],
                  columns=['StockCode'], fill_value=0)

#convert pivot into dataframe
customer_df = df(customer_pivot.to_records())

#convert into dense matrix
customer_dense_matrix = sparse.csr_matrix(customer_df.drop(['CustomerID'], axis=1).reset_index(drop=True).values.tolist())

In [7]:
#create sparse matrix customer and stock code

#contain total amount of product
country_pivot = retail.pivot_table(index=['Country'], values=['Quantity'],
                  columns=['StockCode'], fill_value=0)

#convert pivot into dataframe
country_df = df(country_pivot.to_records())

#convert into dense matrix
country_dense_matrix = sparse.csr_matrix(country_df.drop(['Country'], axis=1).reset_index(drop=True).values.tolist())